.cookies{
    margin: 80px;
}
.cookies-container{
    padding: 50px;
    display: flex;
    flex-direction: column;
}

.cookies-header{
    font-size: 30px;
    font-weight: 600;
}

.cookies-content{
 font-size: 20px;
}