/* Impact Section */
.impact-section {
    
    text-align: center;
    background: linear-gradient(135deg, #00b899 0%, #004d40 100%);
    color: #f8f9fa;
  }
.impact-stats {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 2rem;
    margin-top: 2rem;
  }
  
.impact-section h2{
    font-size: 2.5rem;
    color: #2c3e50;
    margin-top: 2px;
  }

.impact-stats p{
    color: #2c3e50;
}
  
.stat-card {
    background: #f8f9fa;
    padding: 1.5rem;
    border-radius: 10px;
    
  }

.impact-section .btn{
    height: 50px;
    width: 250px;
    background-color: #2c3e50;
    color: #f8f9fa;
    font-size: 16px;
    
    font-weight: 50;
    border: none;
    border-radius: 20px;
}
.cta{
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.cta p{
    font-size: 25px;
}
.btn:hover{
    transition: 0.3s ease-in;
    scale: 1.05;
}
.stat-card h3 {
    font-size: 2.5rem;
    color: #2c3e50;
  }

.cta Link{
    text-decoration: none;
    
}
.btn{
    align-items: center;
    text-decoration: none;
    padding-top: 10px;
}