.disclaimer{
    margin: 80px;
}
.disclaimer-container{
    padding:50px;
    display: flex;
    flex-direction: column;
}

.disclaimer-header{
    font-size: 30px;
    font-weight: 600;
}

.disclaimer-content{
 font-size: 20px;
}